#block1{
    position: relative;
}
#bg1{
    position: absolute;
    z-index: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
#bg1 img{
    position: absolute;
    right: calc(50vw - 50vh * 16 / 9);
    height: 100%;
}
@media screen and  (min-aspect-ratio: 16/9) {
    #bg1 img{
        right: 0;
    }
}
#content1{
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
#textblock1{
    padding-top: 17vh;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}
@media screen and (max-width: 450px){
    #textblock1{
        margin: 0 15px;
    }
}
#buttons1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#buttons1 div{
    margin: 5px;
}

#title1{
    padding-bottom: 1rem;
}
#text1{
    padding-bottom: 1rem;
}
#phones{
    position: relative;
}
#phone1{
    position: absolute;
    z-index: 13;
    width: 350px;
    bottom: -350px;
}
#phone2{
    position: absolute;
    z-index: 12;
    left: calc(50vw - 380px);
    width: 320px;
    bottom: -150px;
}
#phone3{
    position: absolute;
    z-index: 11;
    right: calc(50vw - 380px);
    width: 320px;
    bottom: -150px;
}
@media screen and (max-width: 580px) and (max-height: 780px) {
    #phone1{
        width: 230px;
        bottom: -230px;
    }
    #phone2{
        left: calc(50vw - 260px);
        width: 230px;
        bottom: -108px;
    }
    #phone3{
        right: calc(50vw - 260px);
        width: 230px;
        bottom: -108px;
    }
}
