#block3{
    min-height: 850px;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 400px;
    position: relative;
}
#block3 img{
    border-radius: 10px;
}
.rectangle{
    position: absolute;
    width: 360px;
    height: 300px;
    border-radius: 40px;
}
#rec1{
    transform-origin: center;
    transform: rotate(50deg);
    top: 70px;
    right: 70px;
}
#pic1-1{
    position: absolute;
    height: 300px;
    top: 70px;
    right: 160px;
}
#pic1-2{
    position: absolute;
    height: 260px;
    top: 90px;
    right: 50px;
}
#rec2{
    transform-origin: center;
    transform: rotate(50deg);
    top: 70px;
    left: 70px;
}
#pic2-1{
    position: absolute;
    height: 300px;
    top: 70px;
    left: 50px;
}
#pic2-2{
    position: absolute;
    height: 260px;
    top: 90px;
    left: 180px;
}
#block3 .title{
    padding-bottom: 1rem;
}
#block3 .text{
    max-width: 500px;
    padding-bottom: 1rem;
}
#line3-1, #line3-2{
    display: flex;
    flex-direction: row;
}
#line3-1 .text-left.col{
    margin-right: 30px;
}
#line3-2 .text-left.col{
    display: flex;
    align-items: flex-end;
    margin-left: 30px;
}

@media screen and (max-width: 840px) {
    #line3-1{
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 2rem;
    }
    #line3-2{
        flex-direction: column;
        align-items: flex-start;
    }
    .col.text-left{
        margin: 0 30px;
        width: 70%;
        height: auto;
    }
    .col:not(.text-left){
        width: 100%;
    }
    #rec1{
        top: 70px;
        left: -40px;
    }
    #pic1-1{
        top: 70px;
        left: 30px;
    }
    #pic1-2{
        top: 90px;
        left: 170px;
    }
    #rec2{
        top: 50px;
        right: -20px;
        left: unset;
    }
    #pic2-1{
        top: 50px;
        right: 160px;
        left: unset;
    }
    #pic2-2{
        top: 70px;
        right: 10px;
        left: unset;
    }
}
@media screen and (max-width: 450px) {
    #line3-1 .col:not(.text-left){
        height: 330px;
    }
    .rectangle{
        width: 288px;
        height: 240px;
        border-radius: 40px;
    }
    #rec1{
        top: 70px;
        left: -32px;
    }
    #pic1-1{
        height: 240px;
        top: 56px;
        left: 24px;
    }
    #pic1-2{
        height: 208px;
        top: 72px;
        left: 136px;
    }
    #rec2{
        top: 40px;
        right: -16px;
        left: unset;
    }
    #pic2-1{
        height: 240px;
        top: 40px;
        right: 128px;
        left: unset;
    }
    #pic2-2{
        height: 208px;
        top: 56px;
        right: 8px;
        left: unset;
    }
}
