#block5{
    min-height: 500px;
    padding: 100px 0 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#period{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    justify-content: center;
    margin: 0 30px;
}
#period .title{
    margin-bottom: 1rem;
}
#period .text{
    margin-bottom: 1rem;
}
#b5cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.b5card{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    border-radius: 5px;
    margin: 0 30px 30px;
}
.b5card img{
    width: 70px;
    height: 70px;
    margin-bottom: 1rem;
}
.b5card .title{
    margin-bottom: 1rem;
}
.b5card .b5line{
    height: 1px;
    background-color: gray;
    width: 60%;
    margin-bottom: 1rem;
}
.b5card ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: 1rem;
}
.b5card ul li{
    margin-bottom: 0.5rem;
}
#switchPeriod{
    align-self: center;
}
#switchPeriod .btn:first-of-type{
    border-radius: 100px 0 0 100px;
}
#switchPeriod .btn:last-of-type{
    border-radius: 0 100px 100px 0;
}
@media screen and (max-width: 1000px) {
    #block5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
    }
    #b5cards{
        padding: 30px 30px 0 30px;
    }
    #period{
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 450px) {
    .b5card{
        width: 220px;
    }
    #period{
        margin: 0 10px;
    }
    #b5cards{
        padding: 10px 30px 100px 30px;
    }
}
