#block8{
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#getStarted{
    border-radius: 5px;
    color: #FFFFFF;
    margin-left: 70px;
    padding: 20px 70px;
    font-weight: bolder;
}
#getStarted:hover{
    cursor: pointer;
}
@media screen and (max-width: 700px) {
    #block8{
        flex-direction: column;
    }
    #getStarted{
        margin-top: 30px;
        margin-left: 0;
    }
}
