#block1{
    position: relative;
}
#bg1{
    position: absolute;
    z-index: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
#bg1 img{
    position: absolute;
    right: calc(50vw - 960px);
    height: 100%;
}
#content1{
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
#textblock1{
    padding-top: 17vh;
    max-width: 600px;
    display: flex;
    flex-direction: column;

}
#buttons1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#buttons1 div{
    margin: 5px;
}
#title1{
    padding-bottom: 1rem;
}
#text1{
    padding-bottom: 1rem;
}
#phones{
    position: relative;
}
#phone1{
    position: absolute;
    z-index: 13;
    width: 350px;
    bottom: -350px;
}
#phone2{
    position: absolute;
    z-index: 12;
    left: calc(50vw - 380px);
    width: 320px;
    bottom: -150px;
}
#phone3{
    position: absolute;
    z-index: 11;
    right: calc(50vw - 380px);
    width: 320px;
    bottom: -150px;
}
