#footer .title,#footer .text{
    color:white;
}
#subscribe{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#subscribe .title{
    font-size: xx-large;
    margin-bottom: 2.5rem;
}
#sub-input{
    display: flex;
    flex-direction: row;
}
#sub-input input{
    width: 300px;
    border-radius: 100px 0 0 100px;
    border-style: solid;
    border-color: #FFFFFF;
    background-color: #197bfd !important;
    color: #FFFFFF;
    outline: none;
    padding-left: 20px;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
}
#sub-input input::placeholder{
    color: #ffffff;
}
#sub-button{
    background-color: #FFFFFF;
    padding: 1rem 1.5rem;
    color: #197bfd;
    font-weight: bold;
    border-radius: 0 100px 100px 0;
}
#sub-button:hover{
    cursor: pointer;
    background-color: #e3e3e3;
}
.hor{
    height: 2px;
    width: 100%;
    background-color: #FFFFFF;
}
#footer-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
#footer-links .text{
    font-size: small;
    text-align: center;
    margin: 5px 0;
}
#about{
    display: flex;
}
#about .text{
    margin-right: 20px;
}
#sm{
    display: flex;
    align-items: center;
}
#sm img{
    margin-right: 10px;
    height: 1rem;
}
#scrollToTopBtn{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #197bfd;
    background-color: #FFFFFF;
    border-radius: 3px;
}
#scrollToTopBtn:hover{
    cursor: pointer;
}
#scrollToTopBtn div{
    font-size: x-large;
    font-weight: bold;
}
#scrollToTopBtn:hover div{
    animation: footerBtnWiggle 1s ease-in-out infinite;
}
@keyframes footerBtnWiggle {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-7px);
    }
    100%{
        transform: translateY(0px);
    }
}
@media screen and (max-width: 600px) {
    #sub-input input{
        width: auto;
    }
}
