#header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#header-logo{
    position: absolute;
    left: 130px;
    color: #FFFFFF;
    width: 130px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 20px;
}
#header-buttons{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
}
.header-button{
    color: gray;
    padding: 0 20px 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: bolder;
    border-radius: 0 0 10px 10px;
}
.header-button:hover{
    cursor: pointer;
    color: #197bfd;
    background-color: rgba( 0, 0, 0, .1);
}
#signup-button{
    color: #FFFFFF;
    font-weight: bolder;
}
