@media screen and (max-width: 450px) {
    html{
        font-size: 10pt;
    }
    .btn{
        padding: 0 calc(1.5em - 3px) !important;
    }
    .btn:hover{
        padding: 0 1.5em;
    }
}
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    overflow-x: hidden;
    min-height: 200vh;
}
.block{
    overflow: hidden;
    width: 100%;
}
.shadow{
    -webkit-box-shadow: 4px 4px 18px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 18px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 18px 3px rgba(34, 60, 80, 0.2);
}
.title{
    font-weight: bold;
    font-size: 1.5rem;
    color: #262626;
}
.text{
    color: #515657;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.bg-primary{
    background-color: #197bfd;
}
.color-primary{
    color: #197bfd;
}
.bg-secondary{
    background-color: #f4fbfc;
}
.color-secondary{
    color: #f4fbfc;
}
.row{
    display: flex;
    flex-direction: row;
}

.btn{
    height: calc(2.25em - 6px);
    width: fit-content;
    display: flex;
    padding: 0 calc(3em - 3px);
    border-style: solid;
    border-width: 3px;
    border-radius: 100px;
    color: #197bfd;
    align-items: center;
    font-weight: bolder;
}
.btn:hover, .btn.active{
     cursor: pointer;
     height: 2.25em;
     display: flex;
     padding: 0 3em;
     color: #FFF;
     font-weight: bolder;
     border-width: 0px;
     align-items: center;
     background-color: #197bfd;
 }
.link{
    text-decoration: none;
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.link:hover .arrow{
    animation: link-arrow-wiggle ease-in-out 1s infinite;
}
@keyframes link-arrow-wiggle {
    0%{
        transform: translateX(0px);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0px);
    }
}
.no-select{
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
